<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mesosphere DC/OS AppStudio</title>

</head>
<body bgcolor="#FFFFFF">
	<div id="alldiv">
		<div>
			<img id="bg" style="position: absolute; top: 0px; left: 0px;"
				src="images/bgimg.jpg"> </img>
		</div>
		<div id="text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
			<h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
				<center>
					<%= name %>
					<p>
					<%- fields %>
				    <p>
					<button onclick="doMySubmit()" style="width: 40%; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Enter</button>  <p> 
				</center>
			</h2>
			</br>
		</div>
	</div>
	<script>
		var w = window.innerWidth;
		var h = window.innerHeight;
		var sX = w / 1024;
		var sY = h / 768;
		var bgh = (768 * window.innerWidth / 1024);
		var fields = 1;
		var totalfields= 1;
		var todelete = 1;
		var showLocation= <%= showLocation %>;
		var bg = document.getElementById("bg");
		var latitude= "0";
		var longitude= "0";
		
		bg.setAttribute("style",
				"position:absolute; top:0px; left:0px; width: "
						+ window.innerWidth + "px; height: " + bgh + "px;");
		var text = document.getElementById("text");
		text.setAttribute("style", "style=font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position:absolute; top:" + (400 * sY)
				+ "px; left:" + (((960 - 512 - 140) / 2) * sX) + "px; width: "
				+ (512 * sX * 1.5) + "px; height: " + (256 * sY * 1.5) + "px;");
	    	var loc= document.getElementById("location");
		var ts= document.getElementById("timestamp");

		function setEventTime() {
			var d= new Date();
			let day= d.getUTCDate();
			let daystring= ""+day;
			
  			if(day< 10)
    				daystring="0"+daystring;
  			let month= d.getUTCMonth()+1;
  			let monthstring= ""+month;
  			if(month< 10)
    				monthstring="0"+monthstring;
            		
		        let hour= d.getUTCHours();
			let hourstring= ""+hour;
  			if(hour< 10)
    				hourstring="0"+hourstring;
            		
			let minute= d.getUTCMinutes();
			let minutestring= ""+minute;
  			if(minute< 10)
    				minutestring="0"+minutestring;
            		    
			let second= d.getUTCMilliseconds()/1000.0;
			let secondstring= ""+second;
  			if(second< 10)
    				secondstring="0"+secondstring
			    
			var dt= d.getFullYear()+"-"+monthstring+"-"+daystring+"T"+hourstring+":"+minutestring+":"+secondstring+"Z";
			ts.value= dt;
		};

		function onGeoSuccess(position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;
                        loc.value = latitude + "," + longitude;
                };

        function onGeoError(error) {
                        loc.value = "0,0";
                };
	    if(showLocation)
			navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);

			setEventTime();

function doMySubmit() {
    var id= document.getElementById("id").value;
    var l= document.getElementById("location").value;
    var dt= document.getElementById("timestamp").value;
    
    if(l== undefined || l== null || l=="")
		l="0,0";
    json= '{ "id":"'+id+'"'+', "location":"'+l +'"'+', "event_timestamp":"'+dt +'"';
    id++;
    document.getElementById("id").value= id;
    setEventTime();
	<%- getFields %>;
	json+= "}";
	
    postJSON(json);
  }

  function postJSON(json) {
                        if (window.XMLHttpRequest) {
                                try {
                                        req = new XMLHttpRequest();
                                } catch (e) {
                                        req = false;
                                }
                                // branch for IE/Windows ActiveX version
                        } else {
                                if (window.ActiveXObject) {
                                        try {
                                                req = new ActiveXObject("Msxml2.XMLHTTP");
                                        } catch (e) {
                                                try {
                                                        req = new ActiveXObject("Microsoft.XMLHTTP");
                                                } catch (e) {
                                                        req = false;
                                                }
                                        }
                                }
                        }
                        if (req) {
                                req.onreadystatechange = jsonSent;
                                req.open("GET", "senddata?json="+json, true);
                                req.setRequestHeader("Content-type", "application/json"); 
								req.send();                      
					            //req.send(json);
                        } else {
                                alert("req== false");
                        }
                }

				function jsonSent() {
                        console.log("JSON sent: "+json);
                }
  </script>

</body>
</html>
