<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Mesosphere DC/OS AppStudio</title>

</head>

<body bgcolor="#FFFFFF">
	<div id="alldiv">
		<div>
			<img id="bg" style="position: absolute; top: 0px; left: 0px;" src="images/mesospheredcos1024x768.jpg"> </img>
</div>
<div id="text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
<h2>
	<center style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Please let me know the Cassandra table and Kafka topic we need to create</center>
</center>
</h2>
</br>
<p>
	<center>
		<table id="table2" border="0">
			<col width="30%">
			<col width="70%">
			<tr>
				<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Cassandra Keyspace:</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="keyspace" id="keyspace" value="" oninput="updateKeyspace()" /></td>
</tr>
<tr>
	<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Cassandra Table:</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="table" id="table" value="" oninput="updateTable()" /></td>
</tr>

<tr>
	<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Kafka Topic:</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="kafka" id="topic" value="" oninput="updateTopic()"/></td>
</tr>
</table>
<p>
	<p>
		<button id="next" disabled onclick="mysubmit()" style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Continue</button>

</center>
</div>


</div>
<script>
									  var w = window.innerWidth;
									  var h = window.innerHeight;
									  var sX = w / 1024;
									  var sY = h / 768;
									  var bgh = (768 * window.innerWidth / 1024);
									  var table = '';
									  var topic = '';
									  var keyspace = '';

									  var bg = document.getElementById("bg");
									  bg.setAttribute("style",
										  "position:absolute; top:0px; left:0px; width: "
										  + window.innerWidth + "px; height: " + bgh + "px;");
									  var text = document.getElementById("text");
									  text.setAttribute("style", "style=font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position:absolute; top:" + (320 * sY)
										  + "px; left:" + (((960 - 512 - 140) / 2) * sX) + "px; width: "
										  + (512 * sX * 1.5) + "px; height: " + (256 * sY * 1.5) + "px;");


									  function updateKeyspace() {
										  keyspace = document.getElementById("keyspace").value;
										  if (topic.length > 0 && table.length > 0 && keyspace.length > 0) {
											  console.log("Table: " + table + " Topic: " + topic);
											  document.getElementById("next").disabled = false;
										  }
										  else {
											  document.getElementById("next").disabled = true;

										  }
									  }


									  function updateTable() {
										  table = document.getElementById("table").value;
										  if (topic.length > 0 && table.length > 0 && keyspace.length > 0) {
											  console.log("Table: " + table + " Topic: " + topic);
											  document.getElementById("next").disabled = false;
										  }
										  else {
											  document.getElementById("next").disabled = true;

										  }
									  }

									  function updateTopic() {
										  topic = document.getElementById("topic").value;
										  if (topic.length > 0 && table.length > 0 && keyspace.length > 0) {
											  console.log("Table: " + table + " Topic: " + topic);
											  document.getElementById("next").disabled = false;
										  }
										  else {
											  document.getElementById("next").disabled = true;

										  }



									  }
									  function mysubmit() {
										  location.href = "fields.html?topic=" + topic + "&table=" + table + "&keyspace=" + keyspace;
										  console.log(location.href);
									 }
</script>

</body>

</html>