<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mesosphere DC/OS AppStudio</title>

</head>
<body bgcolor="#FFFFFF">
	<div id="alldiv">
		<div>
			<img id="bg" style="position: absolute; top: 0px; left: 0px;"
				src="images/mesospheredcos1024x768.jpg"> </img>
		</div>
		<div id="text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
			<h2>
				<center>
					<div style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
						Getting close to take-off!
					</div>
				</center>
			</h2>
			<p>
			<center>
			<div style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
			What's the name of your app? 
			<p>
			<input style="text-align: center; width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="appname" id="appname" value="e.g. My cool App" ></input>
			</div>
			<p>
				</center>
				
				<center>
			<div style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
			<p>
			Now let's define the fields of the messages
			</div>
			<table id="table0" border="0">
				<caption>
					<b></b>
				</caption>
				<col width="30%">
				<col width="50%">
				<col width="20%">

				<tr>
					<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">id</td>
					<td><input type="checkbox" name="id" id="id" checked="checked"
						disabled></input></td>
					<td></td>
				</tr>
				<tr>
					<td/>
					<td style="color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
					id is a must field.
					</td>
					<td/>
				</tr>
				<tr id="locationRow">
					<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">location</td>
					<td><div  style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Visible</div></td>
			
					<td><input style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="checkbox" name="visible" id="visible"
						checked="checked"></input >
					</td>
				</tr>
				<tr>
					<td/>
					<td style="color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
					location is a must field but we can suppress it in the UI
					</td>
					<td/>
				</tr>
				<tr id="timestampRow">
					<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">event_timestamp</td>
					<td><input type="checkbox" name="id" id="id" checked="checked"
						disabled></input></td>
					</td>
				</tr>	
				</tr>
					<td/>
					<td style="color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
					event_timestamp is a must field.
					</td>
					</td>
				</tr>
			</table>
			<p>

				<div style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
					Now it's up to you to define your own fields!
				</div>
			<table id="table" border="0">
				<p>
				<col width="30%">
				<col width="30%">
				<col width="5%">
				<col width="10%">
				<col width="5%">
				<col width="20%">
				
				<p>
				<tr id="field1">
					<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"> Custom field</td>
					<td><input type="text" name="fn1" id="fn1" size="60"
						onfocus="del(1)" onblur="undel()" style="width: 300px;font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" value="f1"/></td>
					<td>
						<div style="font-size:  24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Pivot</div></td>					
					<td><input type="checkbox" name="p1" id="p1"  onfocus="del(1)" onblur="undel()"
					onclick="pivot(1)" checked="true"></input>
						</td>
						<td>
						<div style="width: 120px;font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
							Type:
							</div>
						</td>
						<td>
	
 	<select onfocus="del(1)" onblur="undel()" onchange="typeChanged(document.getElementById('t1'))" id="t1" size="1" style="font-size: 32px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
      <option >String</option>
      <option>Integer</option>
      <option>Long</option>
      <option>Double</option>
      <option>Boolean</option>
	  <option>Date/Time</option>
	  <option>Location</option>
    </select>
	</td>
						<td>
							
				</tr>	
					<tr id="field1">
					<td/>
					<td id="td1" style="color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">The value of this field is Text, e.g. "Hello World"</td>			
					<td id="tpd1" style="color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Highlighted by UI</td>
					<td/>
					<td/>
					<td/>
					</tr>
			</table>
						<p>
							<p>
						<button
						style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
						 id="del" onclick="doDelete()" disabled="disabled" >Delete Field</button>
					
						<button style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"type="button" 
						id="add" onclick="doAdd()" >Add Field</button> 
						<p>
						<p>
			<center>
			<button id="next" onclick="doSubmit()" style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Continue</button>  
			</center>
	<script>
		var w = window.innerWidth;
		var h = window.innerHeight;
		var sX = w / 1024;
		var sY = h / 768;
		var bgh = (768 * window.innerWidth / 1024);
		var fields = 1;
		var totalfields= 1;
		var todelete = 1;

		var bg = document.getElementById("bg");
		bg.setAttribute("style",
				"position:absolute; top:0px; left:0px; width: "
						+ window.innerWidth + "px; height: " + bgh + "px;");
		var text = document.getElementById("text");
		text.setAttribute("style", "style=font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position:absolute; top:" + (240 * sY)
				+ "px; left:" + (((960 - 512 - 140) / 2) * sX) + "px; width: "
				+ (512 * sX * 1.5) + "px; height: " + (256 * sY * 1.5) + "px;");

		

		function disabledDel() {
			var id = document.getElementById("del");
		};


		function del(i) {
			todelete = i;
			var id = document.getElementById("del");
			id.disabled = "";
			console.log("del: " + todelete);
		};

		function undel(i) {
			disabledDel();
		}

		function doDelete() {
			if (todelete > 0 && todelete <= totalfields) {
				var table = document.getElementById("table");
				var row = 0;
				for (var i = 0; i < totalfields; i++) {
					var id = document.getElementById("field" + (i + 1));
					console.log(id);
					if (id != null && id!= undefined) {
						row++;
						if (todelete == i + 1) {
							console.log("deleteRow: "+2*(row-1));
							table.deleteRow(2*(row-1));
							table.deleteRow(2*row-2);
							fields--;
							disabledDel();
							return;
						}
					}
				}
			}
		}

		function pivot(i) {
			var p= 1;
			for (var n = 1; n <= totalfields; n++) {
				var id = document.getElementById("p" + n);
				if(id== null)
					continue;
				p++;
				document.getElementById("tpd"+n).innerHTML= "";

				if (n == i) {
					if(id.checked!=true) {
						id.checked=false;
					}
					else {
						id.checked = true;
						console.log("TPD: "+"tpd"+n);
						document.getElementById("tpd"+n).innerHTML= "Highlighted by UI";

					}
				}
				else
					id.checked = false;
			}
		}

		function doAdd() {
			console.log("doAdd");
			var table = document.getElementById("table");
			var row = table.insertRow(fields*2);
			fields++;
			totalfields++;
			row.id = "field" + totalfields;

			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);

			// Add some text to the new cells:
			let style= "style=\"font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\"";
			cell1.innerHTML = "<div "+style+">Custom field</div>";
			cell2.innerHTML = "<input style=\"width: 300px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\" type='text' name='fn" + totalfields + "' id='fn"
					+ totalfields + "'  onfocus='del(" + totalfields 
					+ ")'" + " value=\"f"+totalfields+"\" onblur='undel()'/>";
			cell3.innerHTML = "<div "+style+">Pivot</div>";
			cell4.innerHTML = "<input "+style+" type='checkbox' name='p" + totalfields
					+ "'  onfocus='del(" + totalfields 
					+ ")' onblur='undel()'"
					+ "' id='p" + totalfields
					+ "' checked='checked' onclick='pivot(" + totalfields
					+ ") '></input>";
			cell5.innerHTML = "<div style=\"width: 120px;font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\">Type:</div>";
			cell6.innerHTML = "<select "+ "'  onfocus='del(" + totalfields 
					+ ")' onblur='undel()' onchange=\"typeChanged(document.getElementById('t"+totalfields+"'))\"id=\"t"+totalfields+"\" size=\"1\" style=\"font-size: 32px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\"><option >String</option><option>Integer</option><option>Long</option><option>Double</option><option>Boolean</option><option>Date/Time</option><option>Location</option></select>";
			
			
		
			row = table.insertRow((fields-1)*2+1);
			row.insertCell(0);
			cell2 = row.insertCell(1);
			cell2.setAttribute("id", "td"+totalfields);
			cell2.setAttribute("style", "color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif");
			cell2.innerHTML= getTypeDescription("String");			
		
			cell3= row.insertCell(2);
			cell3.setAttribute("id", "tpd"+totalfields);
			cell3.setAttribute("style", "color: #D3D3D3; font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif");
			console.log("tpd: "+"tpd"+totalfields)
			row.insertCell(3);
			row.insertCell(4);
			row.insertCell(5);

			pivot(fields);
			disabledDel();
		}

		function typeChanged(elem) {	
			let nt= elem.value;
			let tid= new String(elem.id);
			let id= "td"+ tid.substr(1);
			document.getElementById(id).innerHTML= getTypeDescription(nt);			
		}

		function getTypeDescription(type) {
			if(type== "String")
				return "The value of this field is Text, e.g. \"Hello World!\"";
			if(type== "Integer")
				return "The value of this field is a 32-Bit Integer, e.g. 256";
			if(type== "Long")
				return "The value of this field is an64-Bit Integer, e.g. 2560000000";
			if(type== "Double")
				return "The value of this field is a 64-Bit floating point, e.g. 1.23e3";
			if(type== "Boolean")
				return "The value of this field is either true or false";
			if(type== "Date/time")
				return "The value of this field is Date and Time";
			if(type== "Location")
				return "The value of this field is a Location ";
			return "Unknown Type";				
		}

		function doSubmit() {
			var ret= new Object();
			ret.name= document.getElementById("appname").value;
			ret.showLocation= document.getElementById("visible").checked;		
		
			var fields= new Array();
			let n= 0;
			for (var i = 1; i <= totalfields; i++) {
				var id= document.getElementById("field"+i);
				if(id== null)  {
					continue;
				}
				fields[n]= new Object();
				fields[n].name= document.getElementById("fn"+i).value;
				fields[n].pivot= document.getElementById("p"+i).checked;
				fields[n].type= document.getElementById("t"+i).value;
				n++;
			}
			fields[n]= new Object();
			fields[n].name= "id";
			fields[n].type= "Long";
			fields[n].pivot= "false";
			n++;
			
			fields[n]= new Object();
			fields[n].name= "location";
			fields[n].type= "Location";
			fields[n].pivot= "false";
			n++;

			fields[n]= new Object();
			fields[n].name= "event_timestamp";
			fields[n].type= "Date/time";
			fields[n].pivot= "false";


			ret.fields= fields;
			location.href='transformer.html?fields='+JSON.stringify(ret);
		}

		function propsSent() {
			if (req.readyState == 4 && req.status == 200) {
				alert(req.responseText);
			}
		}
		
		
	</script>

</body>
</html>
